




* {
    margin: 0px;
    padding: 0px;
}



/************* INSERTION DE LA POLICE 'BLACKJACKREGULAR' *************/

@font-face {
    font-family: 'blackjackregular';
    src: url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.eot);
    src: url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.woff) format('woff'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.ttf) format('truetype'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

/************* COULEUR DE FOND *************/

body {
    background-color: rgb(67,99,158);
}

a {
    text-decoration: none; 
}
/************* MISE EN PAGE DU TITRE *************/

header h1 {
    font-family: 'blackjackregular';
    color: white;
    font-size: 5em;
    text-align: center;
    height: 120px;
    line-height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/************* MISE EN PAGE DU NAV *************/

header nav {
    background-color:  rgb(51,74,119);
    width: 100%;
    height: 100px;
}

/************* MISE EN PAGE DE LA LISTE NON ORDONNEE *************/

header nav ul {
    height : 100px;   
}

/************* MISE EN PAGE DE CHAQUE ELEMENT DE LA LISTE *************/


header nav ul li {
    display: inline-block; 
    height: 85px;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

/************* MISE EN PAGE DU LIEN DE CHAQUE ELEMENT DE LA LISTE *************/


header nav ul li a {
    color : white;
    font-family: 'Nunito', serif;
    font-size: 1.6em; 
    text-decoration: none;
}

/************* MISE EN PAGE DU DIV DE LA LISTE (QUI COMPREND "Connexion" et "Inscription") *************/

header nav ul div {
    float: right;
    margin-right: 40px;

}

/************* POLICE DE "Connexion" et "Inscription" *************/

header nav ul div li a {
    font-family: "Times New Roman",serif;
}

/************* HOVER DU NAV *************/

header nav ul>li:hover {
    background-color: rgb(44,64,101);
}


/************* ANIMATION HOVER DU NAV *************/

/* Overline From Left */


header nav ul>li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

header nav ul>li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #ED5153;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header nav ul>li:hover:before, header nav ul>li:focus:before, header nav ul>li:active:before {
    right: 0;
}


/************************************/



/****************************************************** MENU JQUERY***********************************
**************************************************************************************************/



/************* MENU DE NAVIGATION COURS  *************/



.nav1 {
   position: absolute; 
    width: 200px;
    height: 600px;  
}

.nav1 ul{
     position: relative;
    height :850px;
      width: 0px;
   /* background-color: rgb(39,58,92); */
    overflow: hidden;
    background: linear-gradient(rgb(39,58,92),rgb(67,99,158));  
}

.nav1 ul li {
    
    height: 50px;
    padding-top :25px;
    padding-bottom: 25px;
    text-align: center;
}

.nav1 ul li a{
    text-decoration: none;
    color : white;
    font-size: 1.7em;
    font-family: 'Nunito';
    line-height: 50px;
}

.nav1 ul li:hover {
    background-color: rgb(39,58,92); 
    border :  2px solid #ED5153;   
}


/**************** MENU COURS ALGEBRE ET GEOMETRIE ***************************/

.nav2 {
    position: absolute; 
    width: 0px;
    height: 850px;  
    left: 200px;
}

.nav2 ul{
     position: relative;
    height :850px;
      width: 0px;
   /* background-color: rgb(39,58,92); */
    overflow: hidden;
    background: linear-gradient(rgb(67,99,158),rgb(39,58,92));  
    
}

.nav2 ul li {
    
    height: 50px;
    padding-top :25px;
    padding-bottom: 25px;
    text-align: center;
    
}

.nav2 ul li a{
    text-decoration: none;
    color : white;
    font-size: 1.3em;
    font-family: 'Nunito';
    line-height: 50px;
}

.nav2 ul li:hover {
    background-color: rgb(39,58,92); 
    border :  2px solid #ED5153;   
}


/*********************** SOUS MENU CHAPITRES ******************************/



.nav3 {
    position: absolute; 
    width: 0px;
    height: 850px;  
    left: 700px;
    overflow: hidden;
}

.nav3 h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gainsboro;
    border: solid 2px black;
    
}

.nav3 ul{
    position: relative;
    height :850px;
    width: 0px;
   /* background-color: rgb(39,58,92); */
    overflow: hidden;
    background: linear-gradient(rgb(39,58,92),rgb(67,99,158));  
    
}

.nav3 ul li {
    
    height: 100px;
   /* padding-top :25px;
    padding-bottom: 25px;*/
    text-align: center;
    
}

.nav3 ul li a{
    display: inline-block;
    text-decoration: none;
    color : white;
    font-size: 1.3em;
    font-family: 'Nunito';
    line-height: 100px;
    height: 100px;
    width: 200px;
}

.nav3 ul li:hover {
    background-color: rgb(39,58,92); 
    border :  2px solid #ED5153;   
}






/*******************************************************************************************************************************************************************
**************************************************************************************************/

/*

main {
    height: 4200px;  
    
}
*/



/*****************************************************************
********************* COURS **************************************
*****************************************************************/



/*** HAUTEUR DE CHAQUE PAGE DE COURS  ***/
/*
#CoursNotionFonction {
    height: 1820px;
}

#CoursFonctionAffineLineaire {
    
 height :2940px;   
    
}

#CoursStatistique {
     height :4220px; 
    
}
*/



/*** MISE EN PAGE D'UN COURS ***/


.Cours {
    
    width: 1200px;
   /* display: flex;*/
    background-color: rgba(255,255,255,1);
    margin : auto;
    padding : 35px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.Cours h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.Cours h4 {
    font-size: 1.4em;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #ED5153;
}

.Cours h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 40px;
    text-decoration: underline;
    color : blue;
    
}


.Cours h6 {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: underline;
    font-style: italic;
}


.Cours p {
    
 margin-left: 30px;   
}






/*** POLICE EN ITALIQUE  ***/
.italic {
 font-style: italic;   
}


/*** POLICE ROUGE ***/

.rouge {
 color: red;   
}

/*** POLICE VERTE ***/

.vert {
 color: green;
}


/** IMAGE A DROITE **/
.image {
    display: inline-block;
   /* float : right;*/
    margin-right: 40px;
    margin-bottom: 50px;  
    border: 1px solid black;
}

/** LE CONTENU A GAUCHE **/
.gauche {    

    float: left;
    margin-top: 50px;
    width: 550px;
    margin-right: 150px;
}



#CoursNotionFonction .gauche {    

    float: left;
    margin-top: 50px;
    width: 450px;
    margin-right: 50px;
}






.image ~ * {

    clear: both;
}

/** MISE EN PAGE TABLEAU **/

table {
 border-collapse: collapse   
}

table tr td{
    border: 1px solid black;
    width: 60px;
    text-align: center;
}

/** MISE EN PAGE UL DES COURS **/


#liste_cours {
    
 margin-left: 80px;   
}

/** FAIRE UNE FRACTION : class ="frac" **/

span.frac {
    display: inline-block;
    font-size: 100%;
    text-align: center;
    position: relative;
    top : 10px;
    margin-bottom: 15px;
}
span.frac > sup {
  display: block;
  border-bottom: 1px solid;
  font: inherit;
}
span.frac > span {
  display: none;
}
span.frac > sub {
  display: block;
  font: inherit;
}
















footer {

    margin-left : 10%;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    background-color: rgb(51,74,119);  
}

footer p {
    text-align: center;
    line-height: 50px;
}

footer p a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Nunito';
}








/************* LES MEDIA QUERIES *************/




/* MEDIA QUERIES TABLETTES DE 769 A 1024 PIXELS */

@media screen and (min-width: 769px) and (max-width: 1024px){
    
    /************* DEPLACEMENT DE "Connexion" et "Inscription" *************/
       
    header nav ul div {
        position: absolute;
        right : 0px;
        top : 0px;
    }
  
    header nav ul div li {
        display: block;
        height : 60px;
        line-height: 60px;
    }
    
    header nav ul li a  {
        font-size: 1.6em; 
    }
    
}




/* MEDIA QUERIES ENTRE PETITES TABLETTES ET GRANDES TABLETTES  DE 601 A 768 PIXELS*/

@media screen and (min-width: 601px) and (max-width: 768px){
     
    header h1 {
        font-size: 3.5em;
        width: 73%;
        margin-left: 20px;
    }
    
    
    
    header nav ul div {
       position: absolute;
       right : 0px;
       top : 0px; 
    }
    
     header nav ul div li {
        display: block;
        height : 60px;
        line-height: 60px;
    }
    
     header nav ul li a  {
        font-size: 1.5em;
    }
    
}


/* MEDIA QUERIES ENTRE SMARTPHONE LANDSCAPE ET PETITES TABLETTES  DE 481 A 600 PIXELS*/


@media screen and (min-width: 481px) and (max-width: 600px){
    
    
    header h1 {
        font-size: 3.5em;
        width: 73%;
    }
    
    
    header nav ul li {
        padding-left: 20px;
        padding-right: 20px;   
    }
    
    header nav ul div {
        position: absolute;
        right : 0px;
        top : 0px;
        margin-right: 20px;
    }
    
     header nav ul div li {
        display: block;
        height : 60px;
        line-height: 60px; 
    }
    
    
    header nav ul div li a{
        font-size: 1.2em;
    }
    
    
     header nav ul li a  {
        font-size: 1.395em;  
    }

}


/* MEDIA QUERIES POUR SMARTPHONES  JUSQU'A 480 PIXELS*/


@media screen and (max-width: 480px){
    


}

