* {
    margin: 0;
    padding: 0;
}



/************* INSERTION DE LA POLICE 'BLACKJACKREGULAR' *************/

@font-face {
    font-family: 'blackjackregular';
    src: url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.eot);
    src: url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.woff) format('woff'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.ttf) format('truetype'),
         url(../fonts/BlackJack-fontfacekit/web_fonts/blackjack_regular_macroman/black_jack-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

/************* COULEUR DE FOND *************/

body {
    background-color: rgb(67,99,158);
}

a {
    text-decoration: none; 
}
/************* MISE EN PAGE DU TITRE *************/

header h1 {
    font-family: 'blackjackregular', sans-serif;
    color: white;
    font-size: 5em;
    text-align: center;
    height: 120px;
    line-height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/************* MISE EN PAGE DU NAV *************/

header nav {
    background-color:  rgb(51,74,119);
    width: 100%;
    height: 100px;
}

/************* MISE EN PAGE DE LA LISTE NON ORDONNEE *************/

header nav ul {
    height : 100px;   
}

/************* MISE EN PAGE DE CHAQUE ELEMENT DE LA LISTE *************/


header nav ul li {
    display: inline-block; 
    height: 85px;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

/************* MISE EN PAGE DU LIEN DE CHAQUE ELEMENT DE LA LISTE *************/


header nav ul li a {
    color : white;
    font-family: 'Nunito', serif;
    font-size: 1.6em; 
    text-decoration: none;
}

/************* MISE EN PAGE DU DIV DE LA LISTE (QUI COMPREND "Connexion" et "Inscription") *************/

header nav ul div {
    float: right;
    margin-right: 40px;

}

/************* POLICE DE "Connexion" et "Inscription" *************/

header nav ul div li a {
    font-family: "Times New Roman",serif;
}

/************* HOVER DU NAV *************/

header nav ul>li:hover {
    background-color: rgb(44,64,101);
}


/************* ANIMATION HOVER DU NAV *************/

/* Overline From Left */


header nav ul>li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

header nav ul>li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #ED5153;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header nav ul>li:hover:before, header nav ul>li:focus:before, header nav ul>li:active:before {
    right: 0;
}


/************************************/



/****************************************************** MENU JQUERY***********************************
**************************************************************************************************/



/************* MENU DE NAVIGATION COURS  *************/



.nav1 {
   position: absolute; 
    width: 200px;
    height: 600px;  
    z-index: 2;
}

.nav1 ul{
     position: relative;
    height :850px;
      width: 0;
   /* background-color: rgb(39,58,92); */
    overflow: hidden;
    background: linear-gradient(rgb(39,58,92),rgb(67,99,158));  
}

.nav1 ul li {
    
    height: 50px;
    padding-top :25px;
    padding-bottom: 25px;
    text-align: center;
}

.nav1 ul li a{
    text-decoration: none;
    color : white;
    font-size: 1.7em;
    font-family: 'Nunito', sans-serif;
    line-height: 50px;
}

.nav1 ul li:hover {
    background-color: rgb(39,58,92); 
    border :  2px solid #ED5153;   
}


/**************** MENU COURS ALGEBRE ET GEOMETRIE ***************************/

.nav2 {
    position: absolute; 
    width: 0;
    height: 850px;  
    left: 200px;
    z-index: 2;
}

.nav2 ul{
     position: relative;
    height :850px;
      width: 0;
   /* background-color: rgb(39,58,92); */
    overflow: hidden;
    background: linear-gradient(rgb(67,99,158),rgb(39,58,92));  
    
}

.nav2 ul li {
    
    height: 100px;
   /* padding-top :25px;
    padding-bottom: 25px;*/
    text-align: center;
   
    
}

.nav2 ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Nunito', sans-serif;
    line-height: 100px;
    height : 100px;
    width: 500px;
    
}

.nav2 ul li:hover {
    background-color: rgb(39,58,92); 
    border :  2px solid #ED5153;   
}



/****************************************************************/

#index {
    height: 645px;
}


#index1 {
    margin :auto;
    height : 100px;
    width : 700px;
    margin-top: 150px;
}

#index1 p{
    color : white;
    font-size: 1.8em;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
}

/*****************************************************************
********************* COURS **************************************
*****************************************************************/





/***** MISE EN PAGE D'UN COURS *****/
/*** lui appliquer class="Cours" ***/

.Cours {
    background-color: rgba(255,255,255,1);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin : auto;
    padding : 35px;
    width: 1200px;
}

.Cours h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.Cours h4 {
    font-size: 1.4em;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #ED5153;
}

.Cours h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 40px;
    text-decoration: underline;
    color : blue;
}

.Cours h6 {
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: underline;
    font-style: italic;
}


.Cours p {   
    margin-left: 30px;   
}





/*****************************************************************
********************* QUIZZ **************************************
*****************************************************************/





/***** MISE EN PAGE D'UN QUIZ *****/
/*** lui appliquer class="Quiz" ***/

.Quiz {
    background-color: #FFFFFF;
    color: #273A5C;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin : auto;
    padding : 35px;
    width: 1000px;
    height : 800px;
}

.Quiz h2 {
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
}

.Quiz h3 {
    color: #ED5153;
    font-size: 1.4em;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

.Quiz form {
    margin: auto;
    width: 40%;
}

.Quiz form p+input {
    float: right;
}



/**** MEMO *****/

#Memo {
    
    text-align: center;
    font-size: 3em;
}



/*** POLICE EN ITALIQUE  ***/
.italic {
    font-style: italic;
}


/*** POLICE ROUGE ***/

.rouge {
    color: red;
}

/*** POLICE VERTE ***/

.vert {
    color: green;
}

/*** POLICE VIOLETTE ***/

.violet {
    color: purple;
}

/*** POLICE POUR UN CERCLE C ***/

.cercle {
    font-family: 'sevillana', sans-serif;
    font-weight: bold;
}

.centre {
 font-family: sans-serif;
}



/** POUR METTRE UNE IMAGE A DROITE **/
/** <p class="image"><img .... **/
.image {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 50px;  
    padding-top: 40px;
}

.image img {
    border: 1px solid black;
}

.image ~ * {
    clear: both;
}

/** LE CONTENU A GAUCHE (AVEC L'IMAGE A DROITE) **/
/** <div class="gauche">.... **/
.gauche {    
    float: left;
    margin-top: 50px;
    width: 500px;
    margin-right: 130px;
}

#CoursNotionFonction .gauche {    
    float: left;
    margin-top: 50px;
    width: 450px;
    margin-right: 50px;
}

#CoursProbabilité .gauche {    
    float: left;
    margin-top: 10px;
    width: 250px;
    margin-left: 150px;
}

/** METTRE DU CONTENU A DROITE **/

#CoursProbabilité .droite {
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 10px;
}

.droite ~ * {
    clear: both;
}

#cas1 {
    float: left;
    width: 300px;
    margin-right: 120px;
}

#cas2 {
    margin-left: 50px;
    display: inline-block;
    width: 300px;
}

#cas2 ~ * {
    clear: both;   
}



/** MISE EN PAGE TABLEAU **/

table {
    border-collapse: collapse   
}

table tr td, table tr th {
    border: 1px solid black;
    width: 60px;
    text-align: center;
}

.large {
    width: 150px;
}

/** MISE EN PAGE UL DES COURS **/


#liste_cours {
    margin-left: 80px;   
}



/** FAIRE UNE FRACTION : class ="frac" **/

span.frac {
    display: inline-block;
    font-size: 100%;
    text-align: center;
    position: relative;
    top : 10px;
    margin-bottom: 15px;
    z-index: 1; 
}

span.frac > sup {
    display: block;
    border-bottom: 1px solid;
    font: inherit;
}

span.frac > span {
    display: none;
}

span.frac > sub {
    display: block;
    font: inherit;
}




/** MISE EN PAGE DU FOOTER **/

footer {
    background-color: rgb(51,74,119);
    margin : auto;
    margin-bottom: 10px;
    width: 80%;
}

footer p {
    text-align: center;
    line-height: 50px;
}

footer p a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Nunito',sans-serif;
}


/** PAGE CONTACT **/

.contact {
    width: 576px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact form {
    margin: 0 auto;
    width: 459px;
}

.contact label {
    display: block;
    color: white;
    letter-spacing: 2px;
    margin-top: 20px;
}

.contact input, textarea {
    width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
    height: 213px;
}

input:focus, textarea:focus {
    border:2.5px solid #ED5153;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;   
}

#submit:hover {
    opacity:.9;
}


.envoi {
    display: inline-block;
    color: black;
    letter-spacing: 0.5px;
    font-weight: bold;
    background-color: #dedede;
    font-size: 1.3em;
    width: 400px;
    height: 100px;
    border: 0.1px solid;
    text-align: center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-top: 10px;
    margin-left: 40%;;
    padding-top: 20px;
}


   /************** RETOUR EN HAUT ****************/

/* Return on top */
#returnOnTop {
    background: url('../images/return_on_top.png') no-repeat;
    bottom: 1%;
    cursor: pointer;
    display: none;
    filter: alpha(opacity = 50); /* IE < 8 */
    height: 100px;
    opacity: 0.5;
    position: fixed;
    right: 1%;
    width: 100px;
}

#returnOnTop:hover {
    filter: alpha(opacity = 100); /* IE < 8 */
    opacity: 1;
}









/************* LES MEDIA QUERIES *************/




/* MEDIA QUERIES TABLETTES DE 769 A 1024 PIXELS */

@media screen and (min-width: 769px) and (max-width: 1024px){
    
    /************* DEPLACEMENT DE "Connexion" et "Inscription" *************/
       
    header nav ul div {
        position: absolute;
        right: 0;
        top: 0;
    }
  
    header nav ul div li {
        display: block;
        height: 60px;
        line-height: 60px;
    }
    
    header nav ul li a  {
        font-size: 1.6em; 
    }
    
}




/* MEDIA QUERIES ENTRE PETITES TABLETTES ET GRANDES TABLETTES  DE 601 A 768 PIXELS*/

@media screen and (min-width: 601px) and (max-width: 768px){
     
    header h1 {
        font-size: 3.5em;
        width: 73%;
        margin-left: 20px;
    }
    
    
    
    header nav ul div {
       position: absolute;
       right: 0;
       top: 0;
    }
    
     header nav ul div li {
        display: block;
        height: 60px;
        line-height: 60px;
    }
    
     header nav ul li a  {
        font-size: 1.5em;
    }
    
}


/* MEDIA QUERIES ENTRE SMARTPHONE LANDSCAPE ET PETITES TABLETTES  DE 481 A 600 PIXELS*/


@media screen and (min-width: 481px) and (max-width: 600px){
    
    
    header h1 {
        font-size: 3.5em;
        width: 73%;
    }
    
    
    header nav ul li {
        padding-left: 20px;
        padding-right: 20px;   
    }
    
    header nav ul div {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 20px;
    }
    
     header nav ul div li {
        display: block;
        height : 60px;
        line-height: 60px; 
    }
    
    
    header nav ul div li a{
        font-size: 1.2em;
    }
    
    
     header nav ul li a  {
        font-size: 1.395em;  
    }

}


/* MEDIA QUERIES POUR SMARTPHONES  JUSQU'A 480 PIXELS*/


@media screen and (max-width: 480px){
    


}

